h2{
    font-size: 20pt;
    font-weight: lighter;
}

li{
    font-size: 12pt;
}

ul{
    padding-left: 20vmin;
    list-style-type: circle;
}

button{
    color: rgb(192,192,192,0.5);
    font-size: 20pt;
    background-color: transparent;
    border: transparent;
    transition: all ease-in-out 200ms;
    border-radius: 5pt;
}

button:hover{
    background-color:  rgb(192,192,192,0.2);
}

.diagonal{
    padding-top: 40vmin;
    padding-bottom: 30vmin;
    background-color: var(--middle-grey);
    width: 100%;
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 90%);
}

#profPhoto{
    position: absolute;
    height: 30vmin;
    border-radius: 50%;
    border: rgb(192,192,192,0.5) 3pt;
    margin-left: 10%;
    z-index: 1;
    transition: all ease-in-out 500ms;
}

#profPhoto:hover{
    opacity: 0.8;
}