<img src="./../../assets/profile.png" alt="Profile Photo" id="profPhoto">

<div class="diagonal">

    <!-- Work Experience -->
    <div class="container">
        <div class="row align-items-top">
            <div class="col-sm-2">
                <h2>Work Experience</h2>
            </div>
            <div class="col-sm-10">
                <ul>
                    <li><b>Independent Developer:</b> HTML, CSS, Angular, C, C++, C#, JS, Python, Android Studio</li>
                    <li><b>Graphic Design:</b> Photo production, publicities, videos, etc.</li>
                    <li><b>Tutor:</b> Physics, mathematics, chemistry, electronics</li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="solid">

    <!-- Education -->
    <div class="container">
        <div class="row align-items-top">
            <div class="col-sm-2">
                <h2>Education</h2>
            </div>
            <div class="col-sm-10">
                <ul>
                    <li><b>Highschool:</b> E.T.I.G.U.N.L.Z.</li>
                    <li><b>University:</b> ITBA Electronics Engineering</li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="solid">

    <!-- Other abilities -->
    <div class="container">
        <div class="row align-items-top">
            <div class="col-sm-2">
                <h2>Other abilities</h2>
            </div>
            <div class="col-sm-10">
                <ul>
                    <li>Aruino, Raspberry Pi</li>
                    <li>AutoCad, SolidWorks</li>
                    <li>CNC, arc welding, neumatics</li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="solid">

    <!-- Languages -->
    <div class="container">
        <div class="row align-items-top">
            <div class="col-sm-2">
                <h2>Language</h2>
            </div>
            <div class="col-sm-10">
                <ul>
                    <li><b>Spanish:</b> Native</li>
                    <li><b>English:</b> C2</li>
                    <li><b>German:</b> A1</li>
                    <li><b>Chinese:</b> A1</li>
                    <li><b>Italian:</b> A1</li>
                </ul>
            </div>
        </div>
    </div>

    <br><br>

</div>

<!-- Download Resume -->
<div style="background-color: var(--dark-grey); width: 100%; justify-content: center; display: flex;">
    
    <form method="get" action="./../../assets/CV.pdf">
        <button mat-button type="submit">
            Download Resume
            <mdb-icon fas icon="file-download"></mdb-icon>
        </button>
    </form>
</div>

<br><br>