.square{
    background-color: var(--mmiddle-grey);
    width: 25pt;
    height: 25pt;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
    line-height: 25pt;
}

.container {
    padding-top: 20pt;
    padding-bottom: 20pt;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    background-color: var(--dark-grey);
    min-width: 100%;
}