<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="mainbox">
        <div id="e404">
            <div class="err">4</div>
            <i class="far fa-question-circle fa-spin"></i>
            <div class="err">4</div>
        </div>
        <br>
        <div class="msg">Tal vez esta página se movió? Fue eliminada? Se esconde en cuarentena? Incluso nunca existió?<p>Vamos a la <a [routerLink]="''">página principal</a> y volvamos a intentarlo.</p>
        </div>
    </div>
</body>