<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lucas Vidmar Webpage</title>
</head>
<body>

  <!-- Loaded Component -->
  <app-main-component></app-main-component>

  <!-- Next -->
  <div style="background-color: #2C2F33; width: 100%; justify-content: center; display: flex;">
    <button>
      <span class="material-icons" (click)="nextComponent()">keyboard_arrow_down</span>
    </button>
  </div>

  <br>

</body>
</html>