<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lucas Vidmar Webpage</title>
</head>
<body>

  <!-- Loaded Component -->
  <app-main-component *ngIf="clicked"></app-main-component>

  <app-second-component *ngIf="!clicked"></app-second-component>

  <!-- Next -->
  <div style="background-color: transparent; width: 100%; justify-content: center; display: flex;">
    <button>
      <span class="material-icons" (click)="nextComponent()">{{icon}}</span>
    </button>
  </div>

  <br>

</body>
</html>