<!-- Main Text -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img src="./../../assets/lv logo gray.png" alt="Logo">
        </div>
        <div class="col-sm-8">
            <h1>Lucas Vidmar</h1>
        </div>
    </div>
</div>

<!-- Separator Bar -->
<br><br>
<div id="divider">
    <div class="sqr"></div>
    <br>
</div>

<!-- Description -->
<div style="background-color: #2C2F33; width: 100%;">

    <div class="container">
        <div class="row align-items-top">
            <div class="col-sm-4">
                <h2>About</h2>
            </div>
            <div class="col-sm-8">
                <p>I'm passionate about tech, entrepreneurship and design. I am an electronics engineering student and I
                    work part-time.</p>
            </div>
        </div>
    </div>

    <br><br>

    <!-- Icons -->
    <ul>
        <li style="border-left: transparent;"><a href="tel:+5401149497626">
                <mdb-icon fas icon="phone-alt"></mdb-icon>
            </a></li>
        <li><a href="https://www.linkedin.com/in/lucasvidmar/" target="_blank">
                <mdb-icon fab icon="linkedin-in"></mdb-icon>
            </a></li>
        <li><a href="mailto:lucas@vidmar.xyz">
                <mdb-icon fas icon="envelope"></mdb-icon>
            </a></li>
    </ul>

    <br>

</div>