h1{
    font-size: 14vw;
    line-height : 15vw;
    padding: 2vw;
    margin: 0;
}

h2{
    font-size: 35pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}

p{
    font-size: 18pt;
}

img{
    height: 35vmin;
    display: block;
    margin: auto;
    border: solid 1.5vmin transparent;
    border-radius: 5vmin;
    padding: 2vmin;
    transition: ease-in-out 200ms;
}

img:hover{
    border: solid 1.5vmin rgba(silver, 0.5);
    border-radius: 0.5vmin;
}

ul {
    list-style-type: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    border-radius: 20pt;
    background-color: var(--dark-grey);
}
  
li {
    float: left;
    border-left: solid var(--middle-grey) 1px;
    border-right: solid transparent 1px;
    font-size: 15pt;
    width: 45pt;
    transition: all ease-in-out 200ms;
}
  
li a {
    display: block;
    color: rgba(silver, 0.5);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: all ease-in-out 200ms;
}
  
li a:hover {
    background-color: var(--middle-grey);
}

li:hover{
    border-left: solid var(--middle-grey) 1px;
    border-right: solid var(--middle-grey) 1px;
}

#divider{
    background-color: var(--middle-grey);
}

.sqr{
    position: relative;
    top: -6vmin;
    height: 10vmin;
    width: 10vmin;
    background-color: var(--dark-grey);
    transform: rotateY(180deg) rotate(45deg);
    border-radius: 2vmin;
    margin-left: auto;
    margin-right: auto;
}